body  
    {
        text-align: center;
        border-radius: 15%;
        border-color: grey;
        /*width: 65%;*/
        /*height: 65%;*/
        /*margin: 70px 40px 70px 40px;*/
        
    }
    
h1{
    text-shadow: 1.5px 1.5px grey;
}
span{
    text-align: center;
    margin: auto;
    width: 10em;
    padding: 20px;
}
#image
    {
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 20%;
        
    }
    
    
#bottom
    {
    
        color: grey;
       margin-left: auto;
       margin-right: auto;
        width: 27em;
    text-align: left;
    padding: 20px 0px 30px 0px;
    }
    
#statsarea
    {
       text-align: center;
    }

#top{
    background-color: #18C6D2;
    color: white;
}
    
#button {
    border-radius: 8px;
    color: white;
    background-color: #008CBA;
    text-align: center;
}

th{
    color: black;
    font-size: 20px;
}
td{
    padding: 15px;
    text-align: center;
    height: 10px;
    color: grey;
}
