{% extends "base.html" %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename = 'css/styles.css')}}">
{% endblock%}





{% block main %}
<div id = "top">
<img id = "image" src = "{{url_for('static', filename = 'photo.jpg')}}" ></img><br/>
<h1>Rahmeesh Bowla</h1>
@mrbowla<br/>
Kingston, Jamaica <br/>
Joined {{ datejoined }} <br/>
</div>

<div id = "bottom">
<p>I am a final year student at uwi in the final semester to graduate. I also do part time work as a mechanic at the family business where we specialize in the repair of bmw vehicles.</p>
<div id = "statsarea">
<table align ="center">
    <tr>
        <th>19</th> <th>178</th> <th>307</th>
    </tr>
    <tr>
        <td>Posts</td> <td>Following</td> <td>Followers</td>
    </tr>
</table>

<div id="buttons">
<button id ="button">Follow</button>
</div>
    
{% endblock %}